{% extends "base.html" %}

{% block content %}
    <div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
        <header class="m-5 text-end text-sm-center">
            <div class="glow-circle"></div>
            <div class="arrow-container">
                <div class="arrow-up"></div>
            </div>
            <h1>Ancestor Project<br /> (The Animus)</h1>
        </header>
        <main>
            <div class="text-center d-flex flex-column align-items-center justify-content-center">
                <h2>Step into a past life, relive ancestral memories</h2>
                <p class="lead">What if the key to finding yourself and your people lies with understanding your ancestors?</p>
                <p class="lead">Ancestor Project (The Animus) is a short interactive ancestor simulation inspired by Assassin's Creed.</p>
                <p class="lead">Enter a meaningful event from the past, along with a name, and birth date of an ancestor that lived through it, and prepare yourself.</p>

                <button class="btn btn-primary" onclick="document.getElementById('questionnaire').scrollIntoView({behavior:'smooth', block:'start'});">
                    Start your simulation.
                </button>
            </div>
        </main>
    </div>

    <div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column" id="questionnaire">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <h2 class="mb-4 text-center">Ancestry Questionnaire</h2>
        <form method="POST" action="{{ url_for('questionnaire') }}">
            <div class="mb-3">
                <label for="interest" class="form-label">Your Interest in Ancestry</label>
                <textarea class="form-control" id="interest" name="interest" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="ancestor_name" class="form-label">Ancestor's Name (Optional)</label>
                <input type="text" class="form-control" id="ancestor_name" name="ancestor_name">
            </div>

            <div class="mb-3">
                <label for="birth_date" class="form-label">Ancestor's Birth Date (Optional)</label>
                <input type="date" class="form-control" id="birth_date" name="birth_date">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}